body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding-bottom:25px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  /* Styles for the logo */
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.rightnav {
  /* Styles for the right navigation links */
  font-size:20px;
  padding-bottom: 10px;
  color: #fff;
  text-decoration: none;
  margin-left: 5px; /* Adjust the margin as needed */
}

h1 {
  /* Styles for the main heading */
  text-align: center;
}

.categories {
  /* Styles for the categories section */
  padding-top: 35px;
  color: white;
  background-color: #343840;
  border-radius: 20px;
}

footer {
  /* Styles for the footer */
  text-align: left;
  margin-top: 20px;
}