body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding-bottom: 25px;
  background-color: #212427;
}

header {
  background-color: #fff;
  padding: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-bar {
  flex-grow: 1;
  border-radius: 20px;
  margin:  40px;

}

input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 20px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.logo {
  /* Styles for the logo */
  color: #000000;
  text-decoration: none;
  font-size: 24px;
}

.rightnav {
  /* Styles for the right navigation links */
  font-size: 15px;
  padding-bottom: 10px;
  right: 25px;
  position: relative;
  color: #000000;
  text-decoration: none;
  margin-left: 5px; /* Adjust the margin as needed */
}

h1 {
  /* Styles for the main heading */
  text-align: center;
  color: #ffffff;
  font-size: 60px;
   font-family: "Oswald-SemiBold", Helvetica;
 
}

.firstcontainer, .secondcontainer, .thirdcontainer {
  /* Styles for the first container */
   width: 800px; /* Change this line */
  min-height: 304px;
  background-color: #0066ff;
  position: relative;
  border-radius: 80px;
  box-shadow: inset 0px 4px 4px #00000040;
  justify-content: center;
  display: flex;
   /* Add this line */
  top: 150px;
  left: 50%; /* Add this line */
  transform: translate(-50%, -50%);
  flex-direction: column;
}
.secondcontainer
{
  top: 230px;
}
.thirdcontainer
{
  top: 315px;
}

h2 {
  font-size: 30px;
  color: #ffffff;
  font-family: "Oswald-SemiBold", Helvetica;
 text-align: center;
}

p {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  left: 30px;
  bottom: 20px;
  color:#ffffff;
  font-size: 20px;;
 display: block;
  text-align: left;
}
/* Advertisement on the Home page*/
.advertise {
  color: white;
  background-color: #595959;
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  margin: 40px;
}

  /* Styles for the categories section */
.categories {
  margin-top: 50px;
  padding-top: 10px;
  padding: 40px;
  color: white;
  background-color: #343840;
  border-radius: 20px;
  text-align:left;
}

/* Link styles*/
a {
  text-decoration: none;
  color: white;
}

/* List styling */
ul {
  list-style-type: none;
}

footer {
  /* Styles for the footer */
  /* position:sticky;
  padding: 15px;
  color: white;
  text-align: left;
  margin-top: 100px;
  text-decoration: none;
  background-color: #212427;
  min-height: 20vh;
  flex: 1; */
}
